<mat-toolbar color="primary" class="mat-elevation-z6" *ngIf="isLoggedin">
  <span class="hidden-xs logo">Welcome to Green Koncepts</span>
  <button mat-icon-button class="visible-xs" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <div class="welcome-area">
    Welcome {{userName}}
  </div>
  <button mat-icon-button (click)=logout()>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
