  <div class="container m-t-60">
    <div class="row">
      <div class="col-sm-4">
        <mat-card [routerLink] = "['/hierarchy']">
        <img src="../../assets/img/structure.png" alt="Hierarchy">
        <mat-card-title>Hierarchy</mat-card-title>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card [routerLink] = "['/customer']">
          <img src="../../assets/img/customer-question.png" alt="customer-question">
          <mat-card-title>Customer</mat-card-title>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card [routerLink] = "['/orders']">
          <img src="../../assets/img/order.png" alt="order">
          <mat-card-title>Orders</mat-card-title>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <img src="../../assets/img/time-and-date.png" alt="order">
          <mat-card-title>Schedules</mat-card-title>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <img src="../../assets/img/message.png" alt="order">
          <mat-card-title>Message</mat-card-title>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <img src="../../assets/img/email.png" alt="order">
          <mat-card-title>Email</mat-card-title>
        </mat-card>
      </div>
    </div>
  </div>
